@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color: rgb(50, 50, 50);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
label{
    color:rgba(255, 255, 255, 0.9);
}

#formPassword,
#formEmail,
#formCheck{
    background-color:rgba(255, 255, 255, 0.8);
    border-color:rgba(255, 255, 255, 0.8);
}

hr{
    border-top: 1px solid rgb(130, 130, 130);
}

nav{
    height:7.5vh;
}

main{
    padding: 5vh 15vw;
}

#logo{
    opacity: 0.9;
}

#page-title{
    color:rgb(255, 255, 185);
    font-weight: 600;
}

.bold{
    font-weight: 600;
}

.demoImage{
    margin-top:2vh;
    width:90%
}

kbd{
    background-color:black;
}